html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
}

.lecture-area {
  display: flex;
  flex-direction: column;
}

.lectures {
  flex: 1;
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
}

.lectures__item-container {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.lectures__item-name {
  font-weight: 600;
}

.timetable {
  flex: 1;
  display: grid;
  grid-template-columns: 4rem repeat(5, 1fr);
  grid-template-rows: 2rem repeat(14, 1fr);
}
