html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}

.search {
  flex: 1 300px;
  display: flex;
  flex-direction: column;
}

.search__input {
  padding: 0.3rem;
  border: 1px solid #ccc;
}

.search__result {
  flex: 1;
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
  list-style: none;
  overflow-y: scroll;
}

.search__result-item__container {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
}

.search__result-item__name {
  font-weight: 600;
}

.timetable {
  flex: 1 400px;
  display: grid;
  grid-template-columns: 4rem repeat(5, 1fr);
  grid-template-rows: 2rem repeat(14, 1fr);
}

.timetable__weekday-header,
.timetable__hour-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.timetable__weekday-track,
.timetable__weekday-preview-track {
  position: relative;
}

.timetable__lecture-cell,
.timetable__lecture-preview-cell {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #000;
  background-color: #ddd;
}

.timetable__lecture-preview-cell {
  opacity: 0.5;
}
